<div class="list-group rounded-0 mt-4">
 <a class="list-group-item list-group-item-action  list-group-item list-group-item-secondary active'" routerLink="rentals">
    Kiralamalar
 </a>
 <a class="list-group-item list-group-item-action  list-group-item list-group-item-secondary active'" routerLink="customers">
    Müşteriler
 </a>
 <a class="list-group-item list-group-item-action  list-group-item list-group-item-secondary active'" routerLink="cars">
    Arabalar
 </a>
 <a class="list-group-item list-group-item-action  list-group-item list-group-item-secondary active'" routerLink="brands">
    Markalar
 </a>
 <a class="list-group-item list-group-item-action  list-group-item list-group-item-secondary active'" routerLink="colors">
    Renkler
 </a>
  </div>
