<div class="rounded-0 mt-4">
    <div *ngIf="dataLoaded == false" class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <table *ngIf="dataLoaded==true" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Şirket Adı</th> 
            </tr>
        </thead>
        <tr *ngFor="let customer of customers">
            <td>{{customer.customerId}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.companyName}}</td>
        </tr>
    </table>
</div>
